*,*::after *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* ACA COMIENZAN LOS ESTILOS DE LA CARGA */
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border: 15px solid rgb(255, 148, 148);
    border-top-color: red;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.azul{
    background-color: blue;
    height: 30em;
}
.amarillo{
    background-color: yellow;
    height: 30em;
}
.magenta{
    background-color: magenta;
    height: 30em;
}
.cian{
    background-color: cyan;
    height: 30em;
}
.verde{
    background-color: green;
    height: 30em;
}

